[submodule "third_party/sqlite_orm"]
	path = third_party/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm
[submodule "third_party/cxxopts"]
	path = third_party/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "third_party/catch2"]
	path = third_party/catch2
	url = https://github.com/catchorg/Catch2
	ignore = dirty
[submodule "third_party/ftxui"]
	path = third_party/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI
	ignore = dirty
