[submodule "extras/sqlite_orm"]
	path = extras/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm
[submodule "extras/cxxopts"]
	path = extras/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "extras/catch2"]
	path = extras/catch2
	url = https://github.com/catchorg/Catch2
	ignore = dirty
[submodule "extras/ftxui"]
	path = extras/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI
	ignore = dirty
[submodule "extras/elpp"]
	path = extras/elpp
	url = https://github.com/abumq/easyloggingpp
	ignore = dirty
